.header {
  font-family: 'Staatliches', cursive;
	font-weight: bolder;
	color: #666;
	position: fixed;
}

.container {
	font-family: 'Staatliches', cursive;

.navbar-default {
  border: none;
}

.note {
	color: #ff715b;
}
